<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <title>MARGOULIN</title>
</head>
<body>
    <main>
        <h1>Adddddddd</h1>  

        <form action="/api/add-recipes/" name="verif" onsubmit="return validateForm()" method="POST">
            Titre :<input type="text" name="title" id="title">
            Description :<input type="text" name="content" id="content">
            Ingredients :<input type="text" name="ingredients" id="ingredients">
            <button type="submit">Valide steup'</button>
        </form>

            
    </main>
<script src="JS/script.js"></script>
</body>
</html>