<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <title>Les recettes étranges</title>
</head>
<body>
    <h1>My recipes</h1>
    <main>
        <% for(let item of data){%>
            <article>
                <h2><%= item.title %></h2>
                <form action="/detail-recipes/<%=item._id %>" method="POST">
                    <button type="submit">Afficher la recette</button>  
                </form> 
            </article>
             <% } %>
            <a href="/add-recipes">AJOUTER</a>
    </main>
    <footer>
        <p>Under the TERRYPRATCHET Licence</p>
    </footer>
</body>
</html>